Repository chadrik/git-tide: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, yaml-lint

.pre-commit-config.yaml:

exclude: '^(.git/|.nox/|.idea/|.pytest_cache/|.ruff_cache/|venv/)'

repos:
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: nox -s ruff_lint --
        require_serial: true
        language: python
        stages:
          - commit
          - manual
        files: ^.*[^/]*[.]py$

      - id: ruff-format
        name: ruff-format
        entry: nox -s ruff_format --
        require_serial: true
        language: python
        stages:
          - commit
          - manual
        files: ^.*[^/]*[.]py$

      - id: yaml-lint
        name: yaml-lint
        entry: nox -s yaml_lint --
        language: system
        stages:
          - commit
          - manual
        files: \.yaml$|\.yml$

Add .gitignore to demo, add .idea to .gitignore
  .gitignore
  demo.ps1
  demo.sh
Due: none

Fix argument order for checkout function
  noxfile.py
Due: ruff-lint, ruff-format

Automate Semantic Versioning & Hotfixes
  .gitignore
  .gitlab-ci.yml
  README.md
  demo.ps1
  demo.sh
  docs/contributing.md
  mkdocs.yml
  nox-tasks-requirements.txt
  noxfile.py
  pyproject.toml
  requirements.txt
  reset.sh
  tests/test_unit.py
Due: ruff-lint, ruff-format, yaml-lint

fix(ci): correct target branch for auto-tag-beta job
  .gitlab-ci.yml
  README.md
Due: yaml-lint

remove push condition from auto-tag-base rules
  .gitlab-ci.yml
Due: yaml-lint

innocuous change for testing
  .gitlab-ci.yml
Due: yaml-lint

removed single quotes
  .gitlab-ci.yml
Due: yaml-lint

Convert to CLI package. Support multiple projects within one repo
  .gitignore
  .pre-commit-config.yaml
  nox-tasks-requirements.txt
  noxfile.py
  projectA/base.txt
  projectA/feat1.txt
  projectA/feat2.txt
  projectA/fix.txt
  projectA/hotfix.txt
  projectA/pyproject.toml
  projectB/feat3.txt
  projectB/pyproject.toml
  pyproject.toml
  requirements.txt
  src/monoflow.py
  tests/test_unit.py
Due: ruff-lint, ruff-format, yaml-lint

Add ability to perform integration tests in Gitlab
  noxfile.py
  src/monoflow.py
  tests/test_unit.py
Due: ruff-lint, ruff-format

cleanup
  .gitlab-ci.yml
  src/monoflow.py
  tests/test_unit.py
Due: ruff-lint, ruff-format, yaml-lint

Address review notes
  tests/test_unit.py
Due: ruff-lint, ruff-format

Use git notes to solve the pending beta tag problem
  src/monoflow.py
  tests/test_unit.py
Due: ruff-lint, ruff-format

Begin removing the assumption that the first branch is beta
  noxfile.py
  src/monoflow/core.py
  tests/test_unit.py
Due: ruff-lint, ruff-format

Split up code into a python package
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  src/monoflow/__init__.py
  src/monoflow/__main__.py
  src/monoflow/core.py
  src/monoflow/gitutils.py
  tests/test_unit.py
Due: ruff-lint, ruff-format, yaml-lint

Address review notes cleanup print statements
  src/monoflow/core.py
  src/monoflow/gitutils.py
Due: ruff-lint, ruff-format

Use protected branches as stand-in for release branches
  .gitlab-ci.yml
Due: yaml-lint

Fix entry-point
  pyproject.toml
  src/monoflow/__main__.py
  src/monoflow/core.py
Due: ruff-lint, ruff-format

Fix gitlab-ci.yml
  .gitlab-ci.yml
Due: yaml-lint

Get running in Gitlab again
  src/monoflow/core.py
  tests/test_unit.py
Due: ruff-lint, ruff-format

Fix mypy issues
  noxfile.py
  pyproject.toml
  src/monoflow/core.py
Due: ruff-lint, ruff-format

Prepare gitlab-ci.yml to be auto-generated
  .gitlab-ci.yml
  src/monoflow/core.py
  tests/test_unit.py
Due: ruff-lint, ruff-format, yaml-lint

Add init command and OO abstraction
  noxfile.py
  projectA/base.txt
  projectA/feat1.txt
  projectA/feat2.txt
  projectA/fix.txt
  projectA/hotfix.txt
  projectA/pyproject.toml
  projectB/feat3.txt
  projectB/pyproject.toml
  pyproject.toml
  src/monoflow.py
  tests/test_unit.py
Due: ruff-lint, ruff-format

Address a potential issue when using --no-local
  src/monoflow/core.py
Due: ruff-lint, ruff-format

Reduce docstring verbosity
  noxfile.py
Due: ruff-lint, ruff-format

Add the option to run local tests using gitlab-ci-local
  src/monoflow/core.py
  tests/test_unit.py
Due: ruff-lint, ruff-format

Rename to git-tide
  .gitlab-ci.yml
  README.md
  noxfile.py
  pyproject.toml
  src/tide/__init__.py
  src/tide/__main__.py
  src/tide/core.py
  src/tide/gitutils.py
  tests/test_unit.py
Due: ruff-lint, ruff-format, yaml-lint

Add a test for using a single stable branch
  src/tide/core.py
  tests/test_unit.py
Due: ruff-lint, ruff-format

Split up the Backend class along lines of local-query vs remote-interaction
  pyproject.toml
  src/tide/core.py
  src/tide/gitutils.py
  tests/test_unit.py
Due: ruff-lint, ruff-format

Add `tide next-version` to query the next version of aproject
  src/tide/core.py
Due: ruff-lint, ruff-format

Cleanup
  src/tide/core.py
Due: ruff-lint, ruff-format

Setup default branch as part of init
  .gitlab-ci.yml
  README.md
  src/tide/core.py
  tests/test_unit.py
Due: ruff-lint, ruff-format, yaml-lint

init: Perform local repo setup first
  src/tide/core.py
Due: ruff-lint, ruff-format

Cleanup and get tests passing
  .gitlab-ci.yml
  pyproject.toml
  src/tide/core.py
  src/tide/gitutils.py
  tests/test_unit.py
Due: ruff-lint, ruff-format, yaml-lint

Make tide.core a valid python API
  pyproject.toml
  src/tide/__main__.py
  src/tide/cli.py
  src/tide/core.py
  tests/test_unit.py
Due: ruff-lint, ruff-format

Rename next-tag to get-tag
  src/tide/cli.py
  src/tide/core.py
Due: ruff-lint, ruff-format

Fix bug in test
  pyproject.toml
  tests/test_unit.py
Due: ruff-lint, ruff-format

Use commitizen API directly to avoid the need for commitizen config
  README.md
  pyproject.toml
  src/tide/cli.py
  src/tide/core.py
  tests/test_unit.py
Due: ruff-lint, ruff-format

Convert from poetry to uv
  noxfile.py
  pyproject.toml
  uv.lock
Due: ruff-lint, ruff-format

Provide the option to get the version without formatting it as a tag
  pyproject.toml
  src/tide/cli.py
  src/tide/core.py
Due: ruff-lint, ruff-format

Simplify get_version, get_next_version
  noxfile.py
  pyproject.toml
  src/tide/cli.py
  src/tide/core.py
Due: ruff-lint, ruff-format
